.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 30%;
}
table {
  width: 85%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
