<h1 class="mat-display-1">Video</h1>

<div *ngIf="routeType == 'list'">
  <label>
    <button  mat-flat-button color="primary" (click)="router.navigate(['/video/new']);">Add new video</button>
  </label>&nbsp;
  <label>
    <button  mat-flat-button color="primary" (click)="router.navigate(['/video/sort']);">Edit Order</button>
  </label>
</div><br/>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="routeType == 'list'">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="file.name">
    <th mat-header-cell *matHeaderCellDef> File Name </th>
    <td mat-cell *matCellDef="let element"> {{element.file.fileName}} </td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Length (HH:MM:SS)</th>
    <td mat-cell *matCellDef="let element"> {{element.hMSLength}} </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef> Enabled </th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" *ngIf="element.enabled==true">check_circle</i>
      <i class="material-icons" *ngIf="element.enabled==false">highlight_off</i>
    </td>
  </ng-container>

  <ng-container matColumnDef="goLiveDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Go Live Date (DD-MM-YY)</th>
    <td mat-cell *matCellDef="let element"> {{element.goLiveDate | date:'d/M/yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At (DD-MM-YY)</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="watch">
    <th mat-header-cell *matHeaderCellDef> Watch </th>
    <td mat-cell *matCellDef="let element"> <i class="material-icons">video_library</i></td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"><i class="material-icons">edit</i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Document uploader -->
<div *ngIf="router.url == '/video/new'">
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit(uploadForm)">
    <div>
      <input type="file" name="profile" accept=".mp4"(change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
