<div class="btn-group btn-group-toggle" *ngIf="router.url == '/video'">
  <label class="btn-primary" ngbButtonLabel>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/video/new']);"> Add new video</button>
  </label>
</div>

<table *ngIf="router.url == '/video'">
  <th>Name</th>
  <th>Order</th>
  <th>Length</th>
  <th>URL</th>
  <tr *ngFor="let video of videos;">
    <td>{{video.name}}</td>
    <td>{{video.order}}</td>
    <td>{{video.length}}</td>
    <td>{{video.video_url}}</td>
  </tr>
</table>

<!-- Document uploader -->
<div *ngIf="router.url == '/video/new'">
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit(uploadForm)">
    <div>
      <input type="file" name="profile" accept=".mp4"(change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
