<div>

  <h2>Forgotten password</h2>

  <form #forgottenPasswordForm='ngForm' (ngSubmit)="onSubmit(forgottenPasswordForm)">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input  matInput  placeholder="Name" name="username" [(ngModel)]="username" required>
    </mat-form-field><br/>

    <div>
      <button mat-flat-button color="primary" type="submit">Send reset e-mail</button>&nbsp;
      <button mat-flat-button color="primary" (click)="router.navigate(['/'])">Cancel</button>
    </div>
  </form>
</div>
