<h1 class="mat-display-1">Document</h1>

<div *ngIf="routeType == 'list'">
  <label>
    <button  mat-flat-button color="primary" (click)="router.navigate(['/document/new']);">Add new document</button>
  </label>&nbsp;
  <label>
    <button  mat-flat-button color="primary" (click)="router.navigate(['/document/sort']);">Edit Order</button>
  </label>
</div><br/>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z23" *ngIf="routeType == 'list'">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="file.name">
    <th mat-header-cell *matHeaderCellDef> File Name </th>
    <td mat-cell *matCellDef="let element"> {{element.file.fileName}} </td>
  </ng-container>

  <ng-container matColumnDef="category.name">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element" (click)="this.router.navigate(['/document-category/edit/'+element.category.id]);" style="cursor: pointer; color:#1a0dab;"> {{element.category.name}} </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef> Enabled </th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" *ngIf="element.enabled==true">check_circle</i>
      <i class="material-icons" *ngIf="element.enabled==false">highlight_off</i>
    </td>
  </ng-container>

  <ng-container matColumnDef="goLiveDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Go Live Date (DD-MM-YY)</th>
    <td mat-cell *matCellDef="let element"> {{element.goLiveDate | date:'d/M/yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At (DD-MM-YY)</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef> Download </th>
    <td mat-cell *matCellDef="let element"><a href="{{element.file.s3Url}}"><i class="material-icons">cloud_download</i></a></td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="cursor: pointer;" title="Edit" (click)="this.router.navigate(['/document/edit/'+element.id]);">edit</i></td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" title="Delete" style="cursor: pointer;" (click)="this.showConfirmDelete[element.id]=true">delete_forever</i>
      <p *ngIf="showConfirmDelete[element.id]">Are you sure? <a href="javascript:void(0);" (click)="deleteDocument(element);">Yes</a> / <a href="javascript:void(0);" (click)="this.showConfirmDelete[element.id]=false">No</a></p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Edit or New -->
<div *ngIf="routeType == 'edit' || routeType == 'new'">

  <h2>{{routeType | titlecase}} Document</h2>

  <form #createDocumentForm='ngForm' (ngSubmit)="onSubmit(createDocumentForm)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input  matInput  placeholder="Name" name="name" [(ngModel)]="documentItem.name" required>
    </mat-form-field><br/>

    <mat-form-field>
      <mat-label>Go Live Date</mat-label>
      <input  matInput [matDatepicker]="myPicker"  placeholder="date" name="goLiveDate" [(ngModel)]="documentItem.goLiveDate" required>
      <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field><br/>


    <mat-checkbox [checked]="documentItem.enabled" name="enabled" [(ngModel)]="documentItem.enabled">Enabled</mat-checkbox><br/><br/>

    <mat-label>Category</mat-label>
    <!-- Show document category dropdown if creating a new Document -->
    <mat-form-field class="example-full-width" *ngIf="!documentItem.category">
      <input #stateInput (keyup)="0" matInput placeholder="Search..." aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event, state)" *ngFor="let state of filteredStates | async" [value]="state.name">
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Show current document category if editing a document -->
    <p *ngIf="documentItem.category">{{documentItem.category.name}} <i class="material-icons" style="cursor: pointer;" (click)="removeCategoryFromDocument();">delete_forever</i></p>

    <div>
      <!-- Show file uploader -->
      <input *ngIf="!documentItem.file" type="file" accept=".pdf" name="fileUpload" (change)="this.uploadFile($event)" />

      <!-- Show document file (edit route only)-->
      <p *ngIf="documentItem.file&&routeType == 'edit'">File: {{documentItem.file.fileName}} <i class="material-icons" style="cursor: pointer;" (click)="removeFileFromDocument();">delete_forever</i></p>

      <input type="hidden" name="file" [(ngModel)]="documentItem.file"/>
    </div>

    <input type="hidden" name="order" [(ngModel)]="documentItem.order"/><br/>

    <div>
      <button mat-flat-button color="primary" type="submit" *ngIf="routeType == 'edit'">Update</button>
      <button mat-flat-button color="primary" type="submit" *ngIf="routeType == 'new'">Create</button>
      &nbsp;<button mat-flat-button color="primary" (click)="router.navigate(['/document'])">Cancel</button>
    </div>
  </form>
</div>
