<!-- nav -->
<mat-toolbar color="primary" *ngIf="currentUser">
  <h3>Happy Hints CMS</h3>
  <ul>
    <li><a [routerLink]="'/'">Home</a></li>
    <li><a [routerLink]="'/admin'" *ngIf="isAdmin">Admin</a></li>
    <li><a [routerLink]="'/audio'">Audio</a></li>
    <li><a [routerLink]="'/document'">Document</a></li>
    <li><a [routerLink]="'/documentCategory'">Document Category</a></li>
    <li><a [routerLink]="'/video'">Video</a></li>
    <li><a [routerLink]="'/users'">Users</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</mat-toolbar>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
