<!-- nav -->
<mat-toolbar color="primary" *ngIf="currentUser">
  <span>Happy Hints CMS</span>
  <a mat-list-item [routerLink]="'/'">Home</a>
  <a mat-list-item [routerLink]="'/admin'" *ngIf="isAdmin">Admin</a>

  <a mat-list-item [routerLink]="'/audio'">Audio</a>
  <a mat-list-item [routerLink]="'/document'">Document</a>
  <a mat-list-item [routerLink]="'/video'">Video</a>

  <a mat-list-item [routerLink]="'/users'">Users</a>

  <a mat-list-item (click)="logout()">Logout</a>
</mat-toolbar>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
