<div class="btn-group btn-group-toggle" *ngIf="router.url == '/audio'">
  <label class="btn-primary" ngbButtonLabel>
    <button type="button" class="btn btn-primary" (click)="router.navigate(['/audio/new']);"> Add new audio</button>
  </label>
</div>

<div class="box-list" cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="router.url == '/audio'">
  <div class="drag-box" *ngFor="let customer of customers" cdkDrag>
    {{customer.name}}
  </div>
</div>

<table *ngIf="router.url == '/audio'">
  <th>Name</th>
  <th>Order</th>
  <th>URL</th>
  <tr *ngFor="let audio of audios;">
    <td>{{audio.name}}</td>
    <td>{{audio.order}}</td>
    <td>{{audio.file_url}}</td>
  </tr>
</table>

<!-- Audio uploader -->
<div *ngIf="router.url == '/audio/new'">
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit(uploadForm)">
    <div>
      <input type="file" name="profile" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
