table {
  width: 75%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-table .mat-row:hover {
  background: rgba(0, 0, 0, 0.04);
}
