<h1 class="mat-h1">Affirmation</h1>

<div fxLayout fxLayoutAlign="center center" *ngIf="routeType == 'list'">
  <br/>
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<table mat-table matSort
       #table
       [dataSource]="dataSource"
       class="mat-elevation-z23"
       *ngIf="routeType == 'list'"
>
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Day (DD-MM)</th>
    <td mat-cell *matCellDef="let element"> {{formatDate(element.day)}} </td>
  </ng-container>

  <ng-container matColumnDef="keyword">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Keyword</th>
    <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At (DD-MM-YY)</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef> Preview</th>
    <td mat-cell *matCellDef="let element"><a href="javascript:void(0);"><i class="material-icons">slideshow</i></a>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit</th>
    <td mat-cell *matCellDef="let element"><i class="material-icons" style="cursor: pointer;" title="Edit"
                                              (click)="this.router.navigate(['/affirmation/edit/'+element.id]);">edit</i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Edit -->
<div *ngIf="routeType == 'edit'">

  <h2>Edit Affirmation</h2>

  <form #createAffirmationForm='ngForm' (ngSubmit)="onSubmit(createAffirmationForm)">

    <div class="content">
      <div class="img-wrap">
        <h4 [ngStyle]="cssClass" [innerHTML]="affirmationItem.hint"></h4>
        <img src="{{affirmationItem.largeImage.s3Url}}"/>
      </div>
    </div>

    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Day</mat-label>
            <input placeholder="Day" name="day" [(ngModel)]="affirmationItem.day" readonly matInput required>
          </mat-form-field>
          <br/>
        </td>

        <td>
          <mat-form-field>
            <mat-label>Keyword</mat-label>
            <input placeholder="Keyword" name="keyword" [(ngModel)]="affirmationItem.keyword" matInput required>
          </mat-form-field>
          <br/>
        </td>

        <td>
          <mat-label>Hint:</mat-label>
          <p [innerHTML]="affirmationItem.hint" contenteditable="true" style="width:180px;border-bottom:1px solid"
             (mouseup)="checkIfTextIsHighlighted();" (blur)="boldenText();"></p>
          <button (click)="boldenText();" *ngIf="showBoldButton==true"><i class="material-icons">format_bold</i>
          </button>
          <br/>
        </td>

        <td>
          <mat-form-field style="width: 300px;height:300px;">
            <mat-label>Explanation</mat-label>

            <textarea matInput
                      cdkTextareaAutosize
                      placeholder="Comment"
                      [(ngModel)]="affirmationItem.explanation"
                      name="explanation"
            >
          </textarea>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field>
            <mat-label>Horiztonal text position</mat-label>
            <mat-select placeholder="textXPos" name="textXPos" [(ngModel)]="affirmationItem.textXPos"
                        (selectionChange)="updateCss();">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let position of this.positions" [value]="position.id">
                {{position.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-label>Text alignment</mat-label>
          <br/>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="affirmationItem.textAlignment">
            <mat-button-toggle value="l" (click)="setTextAlignment('l');"><i class="material-icons">format_align_left</i>
            </mat-button-toggle>
            <mat-button-toggle value="c" (click)="setTextAlignment('c');"><i class="material-icons">format_align_center</i>
            </mat-button-toggle>
            <mat-button-toggle value="r" (click)="setTextAlignment('r');"><i class="material-icons">format_align_right</i>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </td>

        <td>
          <mat-label>Text Colour</mat-label>

          <color-swatches (onChange)="colorChanged($event);"></color-swatches>
        </td>
      </tr>
    </table>



    <mat-label>Text veritcal positioning</mat-label>
    <mat-card-content>
      <h2 class="example-h2">Result</h2>

      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="value"
        [vertical]="vertical"
        (change)="updateSliderValue($event)">
      </mat-slider>
    </mat-card-content>
    <br/><br/>


    <br/>

    <div>
      <!-- Show file uploader -->
      <input *ngIf="!affirmationItem.largeImage" type="file" accept=".jpg" name="fileUpload" (change)="this.uploadFile($event)"/>

      <!-- Show audio file (edit route only)-->
      <p *ngIf="affirmationItem.largeImage&&routeType == 'edit'">File: {{affirmationItem.largeImage.fileName}} <i class="material-icons"
                                                                                          style="cursor: pointer;"
                                                                                          (click)="removeImageFromAffirmation();">delete_forever</i>
      </p>

      <input type="hidden" name="file" [(ngModel)]="affirmationItem.largeImage"/>
    </div>
    <br/>

    <div>
      <button mat-flat-button color="primary" type="submit" *ngIf="routeType == 'edit'">Update</button>
      &nbsp;<button mat-flat-button color="primary" (click)="router.navigate(['/affirmation'])">Cancel</button>
    </div>

  </form>
</div>
<br/><br/><br/>
