img {
  max-width: 40%;
}

.content {
  padding: 25px 0;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

form,
.img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0 15px;
}

form * {
  align-self: flex-start;
}

.img-wrap h4 {
  position: absolute;
  color: #fff;
  z-index: 2;
  left: 30px;
  right: 30px;
  margin: 0;
}

h4 span {
  background: rgba(0, 0, 0, .5);
  padding: 10px;
  display: inline-block;
}

h4 {
  display: inline-block;
}

h4.middle {
  transform: translateY(-50%);
}

h4.align-right {
  text-align: right;
}

h4.top-25 {
  top: 25%;
}

h4.top-50 {
  top: 50%;
}

h4.bottom-25 {
  bottom: 25%;
}
